
body {
    margin: 0;
    text-align: center;
}

div {
    background-color: aliceblue;
}

h1 {
    
    width: 10%;
    margin: 0 auto 0 auto;
}

.top-container {
    background-color: aqua;
}

.middle-container {
    background-color: blue;
    width: 200px;
    height: 200px;
}

.bottom-container {
    background-color: aquamarine;
    width: 200px;
    height: 200px;
}